<div class="loader-overlay" [ngClass]="{ 'loader-hidden': !isLoading }">
    <div class="terminal-loader">
        <div class="terminal-header">
            <div class="terminal-title">Status</div>
            <div class="terminal-controls">
                <div class="control close"></div>
                <div class="control minimize"></div>
                <div class="control maximize"></div>
            </div>
        </div>
        <div class="text">Loading...</div>
    </div>

</div>
<app-header></app-header>
<div class="noticias-container">
    <div class="noticia">
        <div class="imagen-noticia">
            <img src="../../../assets/noticia1.jpeg" alt="Imagen de la noticia">
        </div>
        <div class="texto-noticia">
            <h1>Vini Jr., Mejor Jugador de LALIGA EA <br> SPORTS en marzo</h1>
            <p>El delantero del Real Madrid ha reafirmado su gran estado de forma con <br> grandes actuaciones durante
                el último mes que le han valido el galardón al <br> mejorfutbolista de marzo.</p>
        </div>
    </div>
    <div class="noticia">
        <div class="imagen-noticia">
            <img src="../../../assets/noticia2.jpg" alt="Imagen de la noticia">
        </div>
        <div class="texto-noticia">
            <h1>Coco y cinco especialistas <br> privilegiados de la Liga</h1>
            <p>Solo seis
                jugadores han logrado hacer un gol de falta directa. Entre ellos, Saúl Coco <br> de la UD Las
                Palmas. Los otros cinco realizadores son <br> Ferrán Torres (Barcelona), Alcaraz (Cádiz), William José
                (Betis), Brais (Real Sociedad) y Lejuene (Rayo Vallecano).
            </p>
        </div>
    </div>
    <div class="widget-container">
        <h2>RESULTADOS LALIGA</h2>
        <!--<div id="wg-api-football-fixtures"
            data-host="v3.football.api-sports.io"
            data-key="539ca696e8f753db31a78cdf5048fd1a"
            data-league="140"
            data-season="2023"
            data-theme=""
            data-refresh="900"
            data-show-toolbar="true"
            data-show-errors="false"
            data-show-logos="false"
            data-modal-game="true"
            data-modal-standings="true"
            data-modal-show-logos="true">
        </div>-->
    </div>


</div>