<div class="sombrita">
    <div class="box">
        <a href="enlace1.html">
            <img src="../../../assets/alaves.png" alt="imagen1" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace2.html">
            <img src="../../../assets/almeria.png" alt="imagen2" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace3.html">
            <img src="../../../assets/atletico.png" alt="imagen3" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace4.html">
            <img src="../../../assets/barcelona.png" alt="imagen4" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace5.html">
            <img src="../../../assets/betis.png" alt="imagen5" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace6.html">
            <img src="../../../assets/bilbao.png" alt="imagen6" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace7.html">
            <img src="../../../assets/cadiz.png" alt="imagen7" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace8.html">
            <img src="../../../assets/celta.png" alt="imagen8" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace9.html">
            <img src="../../../assets/getafe.png" alt="imagen9" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace10.html">
            <img src="../../../assets/girona.png" alt="imagen10" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace11.html">
            <img src="../../../assets/granada.png" alt="imagen11" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace12.html">
            <img src="../../../assets/madrid.png" alt="imagen12" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace13.html">
            <img src="../../../assets/mallorca.png" alt="imagen13" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace14.html">
            <img src="../../../assets/osasuna.png" alt="imagen14" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace15.html">
            <img src="../../../assets/palmas.png" alt="imagen15" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace16.html">
            <img src="../../../assets/rayo.png" alt="imagen16" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace17.html">
            <img src="../../../assets/real.png" alt="imagen17" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace18.html">
            <img src="../../../assets/sevilla.png" alt="imagen18" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace19.html">
            <img src="../../../assets/valencia.png" alt="imagen19" width="40px">
        </a>
    </div>
    <div class="box">
        <a href="enlace20.html" >
            <img src="../../../assets/villarreal.png" alt="imagen20" width="40px">
        </a>
    </div>
</div>