<header>
    
    <!-- Subheader inferior -->
    <div class="subheader">
        <div class="subbox">
            <b><a href="home">Home</a></b>
            <b><a href="clasi">Clasificación</a></b>
            <b><a href="ranking">Rankings</a></b>
        </div>
        <div class="logo">
            <img src="../../../assets/icono1.png" alt="Logo de la web">
        </div>
        <div class="subbox">
            <b><a href="usuarios">Cuenta</a></b>
            <b><a href="espana"><img src="../../../assets/españa.png" alt="España" width="50px"></a></b>
            
            <a href="#" class="button" (click)="onAuthButtonClick()">
                <span class="button_lg">
                    <span class="button_sl"></span>
                    <span class="button_text">{{ isLoggedIn ? 'Cerrar Sesión' : 'Entrar' }}</span>
                </span>
            </a>
        </div>
    </div>
    <!-- Subheader inferior -->
    <div class="subheader">
        <div class="subbox">
            <b><a href="plantillas">Plantillas</a></b>
            <b><a href="foro">Foro</a></b>
            <b><a href="ranking">Soporte</a></b>
        </div>
    </div>
</header>